/* Common styles with index */
* {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 70px;
}

body{
    background-color: #F0F3F5;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #19535F;  
}

h1 {
    border: 1px solid #19535F;
    padding: 25px 50px;
    background-color: #7B2D26;
    color: #F0F3F5;
    /* only in about */
    text-align: center;

}

nav > ul > li{
    list-style:none; 
    display: inline;
    margin-right: 7px;

}
nav > ul > li > a {
    text-decoration: none;
    color:#F0F3F5;
}

.center{
    text-align: center;
}

/* About page styles */
.wrapContainer {
    min-width: 530px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #19535F;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
}

.aboutText {
    color: white;
    width: 200px;
    height: 200px;
    margin-bottom: 2%;
    margin-right: 2%;
}

.ramen {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

