* {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 70px;
}

body{
    background-color: #F0F3F5;
}

main {
    margin-left: 8px;
}

table, th, td {
    border:1px dashed #7B2D26;
}

h1 {
    border: 1px solid #19535F;
    padding: 25px 50px;
    background-color: #7B2D26;
    color: #F0F3F5;
}

h2 {
    border: 1px solid #19535F;
    padding: 10px;
    background-color: #0B7A75;
    color: #F0F3F5;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #19535F;  
}

input[type=text],input[type=email],input[type=submit]{
    width:100%;
    margin: 8px 0px;
    padding: 12px 0px;
}

input[type=submit]{
    background-color: #19535F;
    color:#F0F3F5;
}

input[type=submit]:hover{
    background-color: #0B7A75;
    color:#F0F3F5;
    cursor:pointer;
}

textarea{
    width:100%;
}

nav > ul > li{
    list-style:none; 
    display: inline;
    margin-right: 7px;
}
nav > ul > li > a {
    text-decoration: none;
    color:#F0F3F5;
}

form > h5 {
    margin: 8px 0px 8px;
}

/* section {
    padding-top:45px;
} */

/*Selector de clase*/
.song {
    background-color: #D7C9AA; 
}
.song:hover {
    background-color: #0B7A75;
    color:#F0F3F5;
}

.video{
    width:320px; 
    height:240px; 
}

.center{
    text-align: center;
}

div.top {
    position: fixed;
    bottom: 0;
    right: 8px;
    background-color: #19535F;
    font-size:20px;
}

div.top > a {
    color:#F0F3F5;
    text-decoration: none;
}

.locationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.map{
    width: 100%;
}

/* Movidas de la about page */


.center{
    text-align: center;
}

/* About page styles */
.wrapContainer {
    min-width: 530px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #19535F;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
}

.aboutText {
    color: white;
    width: 200px;
    height: 200px;
    margin-bottom: 2%;
    margin-right: 2%;
}

.ramen {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

/*Selector de ID*/
#songs{
    width:100%;
}

#rock-img-header{
    width:30%;
}

@media only screen and (min-width: 768px){
    form{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    input[type=submit]{
        width: 25%;
        margin-left: auto;
        margin-right: auto;
    }

    label{
        padding: 1px;
    }

    .check{
        display: flex;
    }

    .map{
        width: 50%;
    }

}

